###### Data selection #####
# Filtering criteria
filtering:
  similarity_threshold: 0.9   # Remove sequences above 90% similarity
  max_sequences: 100000       # Limit dataset to 100,000 sequences
  min_length: 50              # Minimum sequence length
  max_length: 1000            # Maximum sequence length
  filter_by_region_length: true  # Filter sequences by region length

# Data filtering before download
filters:
  Species:
    - "rabbit"
  Author: # Use the publication name as it appears on OAS
    - "Banerjee et al., 2017"
  BSource:
    - "PBMC"
    - "Spleen"
  BType:
    - "Unsorted-B-Cells"
  Longitudinal:
    - "no"
    - "Terminal-bleed"
    - "Vaccination-1"
    - "Vaccination-2"
    - "Vaccination-3"
  Age:
    - "no"
  Disease:
    - "None"
    - nan
    #- "HIV"
    #- "CLL"
  #Subject:
    #- "Subject-CLL-7"
  #Vaccine:
    #- "None"
    #- "HIV"
  #Chain:
    #- "Heavy"
  #Unique_sequences:
    #min: 5
  #Isotype:
    #- "Bulk"
    #- "IGHA"
  #Total_sequences:
    #min: 5
  #Size_MB:
    #max: 100000

# Output settings
output:
  processed_dir: "data/processed"
  log_dir: "logs"
  report_file: "results/preprocessing_report.txt"

# Computational settings
resources:
  threads: 4
  memory: "16GB"

###### Model settings #####
