###### Data selection #####
# Filtering criteria
filtering:
  similarity_threshold: 0.9   # Remove sequences above 90% similarity
  max_sequences: 100000       # Limit dataset to 100,000 sequences
  min_length: 50              # Minimum sequence length
  max_length: 1000            # Maximum sequence length
  filter_by_region_length: true  # Filter sequences by region length

# Data filtering before download
filters:
  Species:
    #- "rabbit"
    - "human"
  Author: # Use the publication name as it appears on OAS
    #- "Banerjee et al., 2017"
    #- "Bashford et al., 2013"
    #- "Kim et al., 2020"
    #- "Briney et al., 2019"
    - "Soto et al., 2019"
    #- "Doria-Rose et al., 2015"
    #- "Eliyahu et al., 2015"
  #BSource:
    #- "PBMC"
    #- "Spleen"
  #BType:
    #- "Unsorted-B-Cells"
  #Longitudinal:
    #- "no"
    #- "Terminal-bleed"
    #- "Vaccination-1"
    #- "Vaccination-2"
    #- "Vaccination-3"
  #Age:
    #- "no"
    #- "77"
    #- "81"
 # Disease:
    #- "no"
    #- "HIV"
    #- "CLL"
  #Subject:
    #- "Subject-326713"
    #- "Subject-CLL-1"
    #- "Subject-CLL-10"
    #- "Subject-CLL-9"
    #- "no"
  #Vaccine:
    #- "no"
    #- "HIV"
  #Chain:
    #- "Heavy"
  #Unique_sequences:
    #min: 5
    #max: 500
  #Isotype:
    #- "Bulk"
    #- "IGHA"
  #Total_sequences:
    #min: 5
  #Size_MB:
    #max: 100

columns_to_keep:
  - "locus"
  - "fwr1_aa"
  - "cdr1_aa"
  - "fwr2_aa"
  - "cdr2_aa"
  - "fwr3_aa"
  - "cdr3_aa"
  - "fwr4_aa"
  - "v_call"
  - "d_call"
  - "j_call"
  - "ANARCI_numbering"

# Output settings
output:
  processed_dir: "data/processed"
  log_dir: "logs"
  report_file: "results/preprocessing_report.txt"

# Computational settings
resources:
  threads: 4
  memory: "16GB"

# Available options: "random", "balance_publications", "balance_individuals"
sampling_scheme: "balance_individuals"

total_sequences: 1000000

download_dir: "/cluster/scratch/wglaenzer/data/pipeline_downloading_soto2019"
output_dir: "/cluster/scratch/wglaenzer/data/pipeline_outputs_soto2019"
linclust_dir: "/cluster/scratch/wglaenzer/data/pipeline_linclust_soto2019"

n_lines: 1
n_samples: 100000


###### Model settings #####