##### Steps to run #####

pipeline_stages:
  - download
  - clustering
  - selection
  - sampling
  - splitting
  - tokenization
  - training

###### File paths #####

download_dir: "/REDACTED/PATHroject/reddy/REDACTED/PATHretraining/human_heavy_chain/download"
output_dir: "/REDACTED/PATHroject/reddy/REDACTED/PATHretraining/human_heavy_chain/output"
linclust_dir: "/REDACTED/PATHroject/reddy/REDACTED/PATHretraining/human_heavy_chain/linclust"
cache_dir: "/REDACTED/PATHratch/REDACTED/PATHngface_cache"
training_environment: "/REDACTED/PATHroject/reddy/REDACTED/PATHnvironments/training"
wandb_base_dir: "/REDACTED/PATHroject/reddy/REDACTED/PATHretraining"

###### Data filtering #####

# Filtering criteria
filtering:
  #max_sequences: 100000       # Limit dataset to 100,000 sequences (not implemented yet)
  #min_length: 50              # Minimum sequence length (not implemented yet)
  #max_length: 1000            # Maximum sequence length (not implemented yet)
  filter_by_region_length: True  # TODO: Filter sequences by region length

linclust:
  coverage: 0.9
  similarity: 0.9 # Remove sequences above 90% similarity

# Data filtering before download
filters:
  Species:
    #- "rabbit"
    - "human"
    #- "mouse_C57BL/6"
    #- "mouse_BALB/c"
    #- "mouse"
    #- "HIS-mouse"
    #- "Kymouse"
    #- "mouse_Swiss-Webster"
    #- "mouse_RAG2-GFP/129Sve"
  #Author: # Use the publication name as it appears on OAS
    #- 'Bashford et al., 2013'
    #- 'Bender et al., 2020'
    #- 'Bernardes et al., 2020'
    #- 'Bernat et al., 2019'
    #- 'Bhiman et al., 2015'
    #- 'Bolland et al., 2016'
    #- 'Bonsignori et al., 2016'
    #- 'Briney et al., 2019'
    #- 'Buchheim et al., 2020'
    #- 'Chen et al., 2020'
    #- 'Collins et al., 2015'
    #- 'Corcoran et al., 2016'
    #- 'Cui et al., 2019'
    #- 'Davis et al., 2019'
    #- 'Doria-Rose et al., 2015'
    #- 'Eccles et al., 2020'
    #- 'Eliyahu et al., 2015'
    #- 'Ellebedy et al., 2016'
    #- 'Fisher et al., 2017' 
    #- 'Galson_2015 et al., 2015'
    #- 'Galson et al., 2015'
    #- 'Galson et al., 2016'
    #- 'Galson et al., 2020'
    #- 'Ghraichy et al., 2020'
    #- 'Gidoni et al., 2019'
    #- 'Greiff et al., 2014'
    #- 'Greif et al., 2015'
    #- 'Greiff et al., 2017'
    #- 'Gupta et al., 2017'
    #- 'Halliley et al., 2015'
    #- 'Huang et al., 2016'
    #- 'Jaffe et al., 2022'
    #- 'Jiang et al., 2013'
    #- 'Johnson et al., 2018'
    #- 'Joyce et al., 2016'
    #- 'Khan et al., 2016'
    #- 'Kim et al., 2020'
    #- 'King et al., 2020'
    #- 'Kuri-Cervantes et al., 2020' 
    #- 'Levin et al., 2016'
    #- 'Levin et al., 2017'
    #- 'Li et al., 2017'
    #- 'Liao et al., 2013'
    #- 'Lindner et al., 2015'
    #- 'Meng et al., 2017'
    #- 'Menzel et al., 2014'
    #- 'Montague et al., 2021'
    #- 'Mor et al., 2021'
    #- 'Mroczek et al., 2014'
    #- 'Mukhamedova et al. 2021'
    #- 'Nielsen et al., 2020'
    #- 'Ohm-Laursen et al., 2018'
    #- 'Ota et al., 2010'
    #- 'Palanichamy et al., 2014'
    #- 'Parameswaran et al., 2014'
    #- 'Prohaska et al., 2018'
    #- 'Rettig et al., 2018'
    #- 'Richardson et al., 2022'
    #- 'Rubelt et al., 2016'
    #- 'Schanz et al., 2014'
    #- 'Schultheiss et al., 2020'
    #- 'Setliff et al., 2018'
    #- 'Sevy et al., 2019'
    #- 'Sheng et al., 2017'
    #- 'Simonich et al., 2020'
    #- 'Soto et al., 2016'
    ##- 'Soto et al., 2019'
    #- 'Stern et al., 2014'
    #- 'Sundling et al., 2014'
    #- 'Tipton et al., 2015'
    #- 'Tong et al., 2017'
    #- 'Turchaninova et al., 2015'
    #- 'Turner et al., 2021'
    #- 'VanDuijn et al., 2017'
    #- 'Vander Heiden et al., 2017'
    #- 'Vergani et al., 2017'
    #- 'Waltari et al., 2018'
    #- 'Wesemann et al., 2013'
    #- 'Woodruff et al., 2020'
    #- 'Wu et al., 2011' 
    #- 'Wu et al., 2014'
    #- 'Wu et al., 2015'
    #- 'Zhou et al., 2013'
    #- 'Zhou et al., 2015'
    #- 'Zhu et al., 2012'
    #- 'Zhu et al., 2013'
  #BSource:
    #- "PBMC"
    #- "Spleen"
  #BType:
    #- "Unsorted-B-Cells"
  #Longitudinal:
    #- "no"
    #- "Terminal-bleed"
    #- "Vaccination-1"
    #- "Vaccination-2"
    #- "Vaccination-3"
  #Age:
    #- "no"
    #- "77"
    #- "81"
 # Disease:
    #- "no"
    #- "HIV"
    #- "CLL"
  #Subject:
    #- "Subject-326713"
    #- "Subject-CLL-1"
    #- "Subject-CLL-10"
    #- "Subject-CLL-9"
    #- "no"
  #Vaccine:
    #- "no"
    #- "HIV"
  Chain:
    - "Heavy"
  #Unique_sequences:
    #min: 5
    #max: 500
  #Isotype:
    #- "Bulk"
    #- "IGHA"
  #Total_sequences:
    #min: 5
  #ize_MB:
    #max: 10

columns_to_keep:
  - "locus"
  - "fwr1_aa"
  - "cdr1_aa"
  - "fwr2_aa"
  - "cdr2_aa"
  - "fwr3_aa"
  - "cdr3_aa"
  - "fwr4_aa"
  - "v_call"
  - "d_call"
  - "j_call"
  #- "ANARCI_numbering"
  - "Redundancy"


###### Data sampling #####

total_sequences: 1110000
# Available options: "random", "balance_publications", "balance_individuals"
sampling_scheme: "random"
n_lines: 1

training_fraction: 1000000
validation_fraction: 10000

split_mode: "numbers"

###### Model settings #####

model_name: "human_light_model_test"

tokenizer: "/REDACTED/PATHnzer/Coding/plm_training_pipeline/assets/antibody-tokenizer"

deepspeed_config: "/REDACTED/PATHnzer/Coding/plm_training_pipeline/assets/deepspeed_config.json"

###### Test settings #####

n_splits: 5
testing_environment: "/REDACTED/PATHroject/reddy/REDACTED/PATHnvironments/model-testing"
